.card-hero {
  width: 100%;
  background-color: #EBF0F1;
}
.card-hero .slider {
  display: none;
}
.card-hero .slider .card-hero_pers {
  padding: 30px 0;
}
.card-hero .slider .card-hero_pers .card-hero_pers-logo img {
  text-align: center;
  margin: 0 auto;
}
.card-hero .slider .card-hero_pers-descr {
  width: 100%;
}
.card-hero-main {
  padding: 60px 0;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-hero_footer {
  background-color: #F0C310;
  padding: 25px 0;
  width: 100%;
}
.card-hero_footer-main {
  width: 75%;
  margin: 0 auto;
  color: #fff;
  font-family: LatoLatinWebBlack;
  font-size: 20px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-hero_footer-main img {
  margin-left: 2%;
}
.card-hero_pers {
  list-style-type: none;
  width: 33%;
  line-height: 28px;
  font-size: 12px;
}
.card-hero_pers-logo {
  text-align: center;
}
.card-hero_pers-descr {
  padding: 0 15%;
}
.card-hero_pers-descr-name {
  font-family: LatoLatinWebBlack;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
}
.card-hero_pers-descr-why {
  font-size: 18px;
  margin: 10px 0 50px 0;
  text-align: center;
  font-family: LatoLatinWebHairline;
  font-style: italic;
  color: #979999;
}
.card-hero_pers-descr-text {
  font-size: 18px;
  font-family: LatoLatinWebHairline;
  color: #808283;
  text-align: center;
}
.card-hero_pers-descr-link {
  font-size: 18px;
  font-family: LatoLatinWebHairline;
  text-decoration: none;
  color: #01A3E4;
  display: block;
  text-align: center;
  margin: 18px 0;
}
.card-hero_pers-descr-link::before {
  content: '\271A';
  margin: 5px;
  position: relative;
  top: 2px;
}
.bx-wrapper {
  display: none;
}
