.commets-page-main {
  padding: 60px 0;
  width: 75%;
  margin: 0 auto;
}
.commets-page-main_lonely {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.commets-page-main_lonely-img {
  width: 50%;
}
.commets-page-main_lonely-img img {
  width: 100%;
  max-width: 250px;
  text-align: left;
}
.commets-page-main_lonely-img .star {
  width: 20px;
  height: 20px;
  margin: 10px;
  background: #fff;
  position: relative;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  left: 70px;
  top: -140px;
  opacity: .2;
  -webkit-animation-name: star;
          animation-name: star;
  -webkit-animation: star 1.5s infinite linear;
          animation: star 1.5s infinite linear;
}
.commets-page-main_lonely-img .star::before {
  content: "";
  height: 20px;
  width: 20px;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.commets-page-main_lonely-txt {
  width: 50%;
  text-align: left;
  position: relative;
}
.commets-page-main_lonely-txt_title {
  font-family: LatoLatinWebBlack;
}
.commets-page-main_lonely-txt_descr {
  padding: 25px 0;
  font-family: LatoLatinWebHairline;
  font-size: 18px;
  line-height: 28px;
}
.commets-page-main_lonely-txt_comment {
  font-family: LatoLatinWebHairline;
  font-size: 18px;
  background-color: #ECF0F1;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-right: 7%;
  padding: 5%;
  color: #838485;
  line-height: 28px;
  margin-bottom: 30px;
}
.commets-page-main_lonely-txt_logo {
  width: 60px;
  height: 60px;
  background: url('../img/mandark.png') no-repeat;
  -webkit-background-size: 200% 200%;
          background-size: 200% 200%;
  background-position: 0% 0%;
  background-color: grey;
  border: 14px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 270px;
}
.commets-page-main_lonely-txt_link {
  font-family: LatoLatinWebHairline;
  text-decoration: none;
  padding-left: 30px;
  font-weight: bold;
}
.commets-page-main_dwnload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commets-page-main_dwnload-img {
  width: 50%;
  text-align: right;
}
.commets-page-main_dwnload-img img {
  width: 100%;
  max-width: 400px;
}
.commets-page-main_dwnload-txt {
  width: 50%;
  text-align: left;
}
.commets-page-main_dwnload-txt_title {
  font-family: LatoLatinWebBlack;
}
.commets-page-main_dwnload-txt_descr {
  padding: 25px 0;
  font-family: LatoLatinWebHairline;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
.commets-page-main_dwnload-txt_btn {
  border: none;
  background-color: #49B9E5;
  font-family: LatoLatinWebBlack;
  color: #fff;
  font-size: 14px;
  padding: 4% 7%;
}
