.main-footer-page {
  width: 100%;
  background-color: #D4AB0F;
  color: #fff;
  padding: 35px 0;
}
.main-footer-page_information {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.main-footer-page_information li {
  list-style-type: none;
  width: 33%;
  line-height: 22px;
  font-size: 14px;
}
.main-footer-page_information .head-information {
  font-family: LatoLatinWebBlack;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-footer-page_information .logo {
  margin-bottom: 5px;
}
.main-footer-page_information .information {
  padding: 0 7%;
}
.main-footer-page_information-mail,
.main-footer-page_information-location,
.main-footer-page_information-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
